.contactsWrapper:not(:last-child){
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.loaderWrapper{
    display: flex;
    justify-content: center;
}