.homePage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
    max-width: 600px; 
    margin: 20px auto;
    border-radius: 20px; 
    background-color: #f8f9fa; 
    color: #212529; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
}

.title {
    font-size: 40px; 
    color: #343a40; 
    margin-bottom: 20px; 
}

.home {
    margin-top: -20px;
    padding: 14px 28px; 
    text-decoration: none;
    color: #ffffff; 
    background-color: #4c873a; 
    border-radius: 10px; 
    font-size: 1.2rem;
    font-weight: bold; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.home:hover {
    background-color: #4cbe92; 
    transform: scale(1.05); 
}
