.homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
  }
  
  .title {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .description {
    font-size: 18px;
    color: #666;
  }
  